@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// overriding bootstrap colors and stuff:

$primary: #6c57ff;
$secondary: #fb353b;

$font-family-sans-serif: "Work Sans", sans-serif;

// bootstrap import
@import "bootstrap/scss/bootstrap";

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
html,
body,
#root {
  height: 100%;
}
.max-width-400 {
  max-width: 400px;
}
